DATABASE_URL="postgresql://usuario:password@ip:puerto/nombre_db?schema=public" 
PORT=3000

#   production      Modo producción (seed de prisma solo crea los regístros necesarios)
#   development     Modo desarrollo (seed de prisma también crea datos de prueba)
NODE_ENV=production

JWT_SECRET=<codigo secreto>